# See LICENSE folder for this sample’s licensing information.
#
# Apple sample code gitignore configuration.

# Finder
.DS_Store

# Xcode - User files
xcuserdata/
*.xcworkspace
Photon-iOS-Sdk_v4-1-9-0/
